.page {
    max-width: 1280px;
    margin: 0 auto;
    font-family: 'Inter', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
    background: #2A2C2F;
    position: relative;
}
