.lead__title {
    padding-top: 56px;
    max-width: 720px;
    max-height: 200px;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    color: #fff;
    margin: 0 auto;
    text-align: center;
}