.footer__links {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    margin: 0;
}

@media screen and (max-width:690px) {
    .footer__links {
        flex-direction: column;
    }
}