.cover {
    max-height: 740px;
    max-width: 1184px;
    margin: 0 48px 92px;
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:1279px) {
    .cover {
        margin: 0 0 92px;

    }
}

@media screen and (max-width:1023px) {
    .cover {
        margin: 0 0 88px;
    }
}

@media screen and (max-width:767px) {
    .cover {
        margin: 0 0 64px;
    }
}